* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  background: #fff url(../img/bg.png);
  margin: 15px auto;
  width: 1180px;
}

#container {
  background: #ede9cc;
}

#top {
  position: relative;
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
}

#area-logo {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/topo-imagem-principal.png) no-repeat;
  width: 100%;
  height: 250px;
}

#area-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/topo-imagem-lateral.png) no-repeat;  
  width: 450px;
  height: 250px;
}